@import url('https://fonts.googleapis.com/css?family=Roboto');




/* *{
  border: 1px solid black;
} */
body, html{
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;

}
h2, h3{
  margin: 20px 80px;
}
hr{
  margin: 0px 80px;
  background-color: #dcdfe2;
}
.container{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 20px 80px;
  /* padding:20px 50px; */
  padding:0px;
  border-radius: 8px;
  width: 60%;
  /* height: 150px; */
}

.product-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  /* margin: 20px 80px; */
  background-color: white;

  padding:20px 50px;
  width: 60%;
  justify-content: space-between;
  height: 150px;
}
.product{
  display: flex;
  flex-direction: column;
}

img{
  height: 100%;
  width: 220px;
  border-radius: 8px 0px 0px 8px;
}
.card-title{
  /* width:80%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-title h4{
  margin: 10px 0px;
  color: #505050;
  font-size: 25px;
}
.price{
  margin: 10px 0px;
  color:#898a8e;
}
.amount{
  margin: 10px 0px;
  color:#898a8e;
}


button{
  width: 100px;
  background-color: #5E97D1;
  border-radius: 20px;
  color: white;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  text-decoration: none;
}

button:hover{
  background-color: #407FC0;
  color:white;
}
button:focus {
  outline:0;
}

a { color: inherit; }



@media screen and (max-width: 890px){
  .container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    /* padding:20px 50px; */
    padding:0px;
    border-radius: 8px;
    width: 90%;
  }
  .product-container{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

}
.product{
  display: flex;
  flex-direction: column;
}
img{
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.card-title{
  /* width:80%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title h4{
  margin: 10px 0px;
}
.price{
  margin: 10px 0px;
}
.amount{
  margin: 10px 0px;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px 40px;
  background-color: white;
  border-radius: 5px;
  /* width: 100%; */
  margin: 10px 0px;
}

button{
  width: 100px;
  border:1px solid black;
}

}
