@import url('https://fonts.googleapis.com/css?family=Roboto');




/* *{
  border: 1px solid black;
} */
body, html{
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;

}
.page-title{
  margin: 20px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-title img{
  width: 20px;;
}

hr{
  margin: 0px 80px;
  background-color: #dcdfe2;
}
.product-list{
  /* position: absolute; */
}
.products-cart{
  margin-bottom: 0px;
  /* bottom: 0; */
  /* position: fixed; */
  border-radius: 0px;
  width: 50%;
  height: 60px;
  font-size: 20px;
  border: none;
}

.cart{

  z-index: 99999;
  background: rgba(0,0,0,0.8);
  /* opacity:0; */
  transition: opacity 400ms ease-in;
  /* display: none; */
  /* margin: 0 auto; */
  border: solid black 2px;
  position: fixed;
  left: 0; right: 0; top:0; bottom: 0;
  /* background-color: white; */
  /* width: 40%;
  height: 70%; */
}
.cart:target{
  opacity: 1;
  pointer-events:auto;
}
.cart > div {
  overflow: scroll;
  padding: 5px 20px 13px 20px;
  width: 40%;
  height: 70%;
  margin: 10% auto;
  position: relative;
  background: #fff;
  border-radius: 7px;
}
.cart > div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart > div h3{
  align-self: flex-start;
  margin: 16px 40px;
  font-size: 25px;
}
.cart > div hr{
  width: 80%;
  margin:0px 0px 20px 0px;
}
.cart > div img{
  width: 83px !important;
  border-radius: 5px;
  align-self: center;
}

.cart > div a{
  color: #9fa5ad;
  margin:10px;
  cursor: pointer;
  align-self: flex-end;
  font-size: 30px;
}

.empty-cart{
  display:flex;
  flex-direction: column;
}
.empty-cart img{
  margin: 10px;
}

.cart .card-title{
  width: 190px;
}
.shopping-cart img{
  cursor: pointer;
}
.openCart{
  overflow: scroll;
}

.container{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 20px 80px;
  /* padding:20px 50px; */
  padding:0px;
  border-radius: 8px;
  width: 60%;
  /* height: 150px; */
}

.product-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  /* margin: 20px 80px; */
  background-color: white;

  padding:20px 50px;
  width: 60%;
  justify-content: space-between;
  height: 150px;
}
.product{
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

img{
  height: 100%;
  width: 220px;
  border-radius: 8px 0px 0px 8px;
}
.card-title{
  /* width:80%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.card-title h4{
  margin: 10px 0px;
  color: #505050;
  font-size: 18px;
}
.price{
  margin: 10px 0px;
  color:#898a8e;
  font-size: 15px;
}
.amount{
  margin: 10px 0px;
  color:#898a8e;
  font-size: 15px;
}


button{
  width: 100px;
  background-color: #5E97D1;
  border-radius: 20px;
  color: white;
  padding: 4px 10px 4px 10px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}
.buttons{
  display: flex;
  font-size: 16px;
  border-radius: 20px;
}
.buttons button{
  background-color:#d8d8d8;
  color: black;
}

.subtract-button{
  border-radius: 20px 0px 0px 20px;
  font-size: 20px;
}
.add-button{
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
}
.nodes {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #dcdfe2;
}


.nodes > div:first-child{
  display:flex;
}
.products > div:first-child{

}

button:hover{
  background-color: #407FC0;
  color:white;
}
button:focus {
  outline:0;
}

a { color: inherit; }

@media screen and (max-width: 890px){
  .cart > div hr {
    width: 90%;
    margin: 0px 0px 20px 0px;
  }
  .nodes{
    margin: 16px 40px;
    display: flex;
    flex-direction: column;
  }
  .products-cart{
    margin: 10px 0px 0px 0px;
    bottom: 0;
    position: fixed;
    border-radius: 0px;
    width:100%;
    height: 60px;
    font-size: 25px;
    border: none;
  }
  .container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    /* padding:20px 50px; */
    padding:0px;
    border-radius: 8px;
    width: 270px;
  }
  .cart > div {
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    background: #fff;
    border-radius: 0px;
  }
  hr{
    margin: 10px 20px;
  }
.product{
  display: flex;
  flex-direction: column;
}
img{
  align-self: center;
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.page-title{
  margin: 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-title{
  /* width:220px;; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title h4{
  margin: 10px 0px;
  font-size: 20px;
}
.price{
  margin: 10px 0px;
  font-size:15px;
}
.amount{
  margin: 10px 0px;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20px 20px;
  background-color: white;
  border-radius: 5px;
  width: 80%;
  margin: 10px 0px;
}

button{
  width: 100px;
  /* border:1px solid black; */
}

}
